################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ball Game/Ball Game/bld
/Ball Game/Ball Game/bin
